body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #317a2b;
}

.white-circle {
  background-color: #ffffff;
  width: 200px;
  height: 120px;
  border-radius: 100px;
  font-size: 30px;
  color: #317a2b;
  padding-top: 80px;
  margin: 300px auto;
  text-align: center;
}

.green-circle {
  background-color: #145806;
  width: 200px;
  height: 120px;
  border-radius: 100px;
  font-size: 30px;
  color: #317a2b;
  padding-top: 80px;
  margin: 300px auto;
  text-align: center;
}
