@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9a32f0;
}

.circle {
  width: 200px;
  height: 120px;
  border-radius: 100px;
  font-size: 30px;
  color: #9a32f0;
  padding-top: 80px;
  margin: 50px auto;
  text-align: center;
}

.music-group {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  border: 3px solid #1e4905;
  font-size: 18px;
  text-align: center;
}

.group-name {
  color: #1e4905;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.group-style {
  margin: 10px 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  margin: 50px auto;
  padding: 30px 50px 50px 50px;
  border: 5px solid white;
  border-radius: 10px;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 27px;
  color: white;
  padding: 20px 0px;
}

form label input,
form label select {
  padding: 10px 0px;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 20px;
}

form label select {
  margin-bottom: 10px;
}

form button {
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  color: #9a32f0;
  font-size: 27px;
  font-weight: 600;
  background-color: white;
}

form button:disabled {
  opacity: 0.5;
}
